<a href="https://colab.research.google.com/github/alibekk93/5-a-side-optimisation/blob/master/OMA_search.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# copy repo to get available datafiles

!git clone https://github.com/alibekk93/IDP_analysis.git

Cloning into 'IDP_analysis'...
remote: Enumerating objects: 604, done.
remote: Counting objects: 100% (192/192), done.
remote: Compressing objects: 100% (145/145), done.
remote: Total 604 (delta 69), reused 130 (delta 46), pack-reused 412
Receiving objects: 100% (604/604), 227.60 MiB | 24.31 MiB/s, done.
Resolving deltas: 100% (205/205), done.
Checking out files: 100% (50/50), done.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
tempura = pd.read_excel('/content/IDP_analysis/OMA_search/200617_TEMPURA.xlsx')

In [4]:
tempura.head()

,genus_and_species,taxonomy_id,strain,superkingdom,phylum,class,order,family,genus,assembly_or_accession,...,Genome_size,16S_accssion,16S_GC,Tmin,Topt_ave,Topt_low,Topt_high,Tmax,Tmax_Tmin,Expression
0,Methanopyrus kandleri,2320,116,Archaea,Euryarchaeota,Methanopyri,Methanopyrales,Methanopyraceae,Methanopyrus,NaN,...,NaN,AB301476,67.7,85.0,100.0,NaN,NaN,122.0,37.0,NaN
1,Geogemma barossii,1927912,121,Archaea,Crenarchaeota,Thermoprotei,Desulfurococcales,Pyrodictiaceae,Geogemma,NaN,...,NaN,NaN,NaN,85.0,106.0,NaN,NaN,121.0,36.0,NaN
2,Pyrolobus fumarii,54252,1A,Archaea,Crenarchaeota,Thermoprotei,Desulfurococcales,Pyrodictiaceae,Pyrolobus,GCA_000223395.1,...,1.8,X99555,68.4,90.0,106.0,NaN,NaN,113.0,23.0,NaN
3,Pyrococcus kukulkanii,1609559,NCB100,Archaea,Euryarchaeota,Thermococci,Thermococcales,Thermococcaceae,Pyrococcus,GCA_001577775.1,...,2.0,CP010835,66.5,70.0,105.0,NaN,NaN,112.0,42.0,NaN
4,Methanopyrus kandleri,2320,AV19,Archaea,Euryarchaeota,Methanopyri,Methanopyrales,Methanopyraceae,Methanopyrus,GCA_000007185.1,...,1.7,NR_074539,68.1,84.0,98.0,NaN,NaN,110.0,38.0,NaN

In [53]:
oma = pd.read_csv('/content/IDP_analysis/OMA_search/OMA_allSpecies.csv')

In [54]:
oma['genus_and_species'] = [' '.join(oma['Scientific Name'].iloc[i].split(' ')[:2]) for i in range(len(oma))]

In [55]:
oma.head()

,Code,Scientific Name,Common Name,Last Update,# of Sequences,NCBI TaxonId,D.,genus_and_species
0,TREPP,Tremblaya princeps (strain PCIT),NaN,2013-Dec-17,120,891398,B,Tremblaya princeps
1,HODCD,Hodgkinia cicadicola (strain Dsem),NaN,2013-May-28,169,573234,B,Hodgkinia cicadicola
2,CARRP,Carsonella ruddii (strain PV),NaN,2007-May-03,182,387662,B,Carsonella ruddii
3,ZINIC,Zinderia insecticola (strain CARI),NaN,2013-Jan-10,206,871271,B,Zinderia insecticola
4,SULMD,Sulcia muelleri (strain DMIN),NaN,2011-Sep-23,226,641892,B,Sulcia muelleri

In [64]:
tempura_and_oma = pd.merge(left=tempura, right=oma, on='genus_and_species', how='inner')

In [67]:
tempura_and_oma.columns

Index(['genus_and_species', 'taxonomy_id', 'strain', 'superkingdom', 'phylum',
       'class', 'order', 'family', 'genus', 'assembly_or_accession',
       'Genome_GC', 'Genome_size', '16S_accssion', '16S_GC', 'Tmin',
       'Topt_ave', 'Topt_low', 'Topt_high', 'Tmax', 'Tmax_Tmin', 'Expression',
       'Code', 'Scientific Name', 'Common Name', 'Last Update',
       '# of Sequences', 'NCBI TaxonId', 'D.'],
      dtype='object')